-# TO DO: create a page for cant find code

= render("shared/content_card") do
  %h2.copy_heading
    Rsvp
  %p Please RSVP at your earliest convenience using the form below. If you can make it, we look forward to seeing you there!
  
  - if @guests > 1
    %h3
      First Guest

  = form_with( method: 'put') do
    %div
      = label_tag(:first_name_1, 'First Name', :class => "form_label")
      = text_field_tag(:first_name_1, value=@first_name_1, :class => "form_field")
    %div
      = label_tag(:surname_1, 'Surname', :class => "form_label")
      = text_field_tag(:surname_1, value=@surname_1, :class => "form_field")
    %div
      = label_tag(:dietary_requirements_1, 'Do you have any dietary requirements?', :class => "form_label")
      = text_field_tag(:dietary_requirements_1, value=@dietary_requirements_1, :class => "form_field")
    %div
      = label_tag(:attending_wedding_1, 'Will you be attending the wedding? (check box if yes)', :class => "form_label")
      = check_box_tag(:attending_wedding_1, value=true, checked=@attending_wedding_1)
    %div
      = label_tag(:attending_bbq_1, 'Will you be able to attend the Sunday BBQ? (check box if yes)', :class => "form_label")
      = check_box_tag(:attending_bbq_1, value=true, checked=@attending_bbq_1)

    - if @guests > 1
      %h3.second_guest
        Second Guest
      %div
        = label_tag(:first_name_2, 'First Name', :class => "form_label")
        = text_field_tag(:first_name_2, value=@first_name_2, :class => "form_field")
      %div
        = label_tag(:surname_2, 'Surname', :class => "form_label")
        = text_field_tag(:surname_2, value=@surname_2, :class => "form_field")
      %div
        = label_tag(:dietary_requirements_2, 'Do you have any dietary requirements?	', :class => "form_label")
        = text_field_tag(:dietary_requirements_2, value=@dietary_requirements_2, :class => "form_field")
      %div
        = label_tag(:attending_wedding_2, 'Will you be attending the wedding?', :class => "form_label")
        = check_box_tag(:attending_wedding_2, value=true, checked=@attending_wedding_2)
      %div
        = label_tag(:attending_bbq_2, 'Will you be able to attend the Sunday BBQ?', :class => "form_label")
        = check_box_tag(:attending_bbq_2, value=true, checked=@attending_bbq_2)


    %div
      = label_tag(:music_suggestions, 'Any song requests to get you on the dancefloor?', :class => "form_label w-100")
      = text_field_tag(:music_suggestions, value=@music_suggestions, :class => "form_field w-60")
    
    = submit_tag('Send your RSVP', :class => 'submit_button')
